@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 2rem 6rem;
    padding:20px;
}

h1 {
    color: #497E92;
}

article {
    background-color: #C3F9FF;
}

header {
    text-align: center;
}
header img{
    border: 5px solid black;
    border-radius: 50%;
}